# Cleaning

## Marta ---------------------------------------------------------

put all of your code between here and the next person's name only

In [1]:
import pandas as pd

In [2]:
noaa_data = pd.read_csv('data/noaa_data.csv')

In [3]:
noaa_data.rename(columns = {col: col.strip().lower() for col in noaa_data.columns}, inplace= True)

In [4]:
#noaa_data['yr_mth'] = noaa_data['YearMonth'].
noaa_data['month'] = noaa_data['yearmonth'].apply(lambda x: str(x)[-2:])
noaa_data['year'] = noaa_data['yearmonth'].apply(lambda x: str(x)[0:4])

In [5]:
noaa_data.head()

,unnamed: 0,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,...,sp06,sp09,sp12,sp24,tmin,tmax,unnamed: 20,state,month,year
0,0,2,0,189501,2.78,40.4,1.67,1.67,5.02,1.67,...,-99.99,-99.99,-99.99,-99.99,31.8,49.0,NaN,AZ,01,1895
1,1,2,0,189502,0.53,43.5,1.61,1.61,0.33,1.61,...,-99.99,-99.99,-99.99,-99.99,31.0,56.0,NaN,AZ,02,1895
2,2,2,0,189503,0.22,50.0,1.09,1.09,-1.05,0.48,...,-99.99,-99.99,-99.99,-99.99,35.4,64.7,NaN,AZ,03,1895
3,3,2,0,189504,0.08,58.3,1.09,1.09,0.33,0.59,...,-99.99,-99.99,-99.99,-99.99,42.6,73.9,NaN,AZ,04,1895
4,4,2,0,189505,0.36,65.8,1.89,1.89,2.72,1.89,...,-99.99,-99.99,-99.99,-99.99,50.9,80.6,NaN,AZ,05,1895

In [6]:
noaa_data = noaa_data[[col for col in noaa_data.columns if not 'unnamed' in col]] # removing meaningless columns

In [7]:
noaa_data = noaa_data[(noaa_data['yearmonth']!=202011) & 
                      (noaa_data['yearmonth']!=202012) &
                      (noaa_data['year']>'1900') &
                      (noaa_data['year']>'1900')] # removing two months with placeholder data

In [8]:
noaa_data.describe()

,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,cdd,hdd,sp01,sp02,sp03,sp06,sp09,sp12,sp24,tmin,tmax
count,11486.000000,11486.0,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000,11486.000000
mean,32.375588,0.0,196038.881073,1.922654,51.755916,-0.038869,-0.007610,-0.012021,-0.003684,72.534477,401.827268,0.005407,0.002698,0.002158,0.001066,0.001036,0.001011,-0.001191,38.808182,64.695544
std,32.988899,0.0,3454.063765,1.721008,14.638455,2.585360,2.705266,1.924128,2.563077,131.479806,340.594852,0.987106,0.994348,0.997144,0.998099,0.999261,1.000486,1.003913,13.323738,16.299261
min,2.000000,0.0,190101.000000,0.000000,12.700000,-9.090000,-9.090000,-7.140000,-9.090000,0.000000,0.000000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-0.800000,20.600000
25%,4.000000,0.0,193011.250000,0.682500,39.800000,-1.860000,-2.040000,-1.360000,-1.780000,0.000000,76.000000,-0.700000,-0.660000,-0.680000,-0.670000,-0.670000,-0.660000,-0.670000,28.400000,51.600000
50%,29.000000,0.0,196010.000000,1.530000,51.600000,-0.250000,-0.560000,-0.170000,-0.080000,6.500000,346.000000,0.010000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,38.200000,64.800000
75%,45.000000,0.0,199009.000000,2.610000,64.200000,1.680000,1.960000,1.120000,1.680000,84.000000,664.000000,0.680000,0.670000,0.660000,0.670000,0.670000,0.680000,0.660000,49.600000,78.800000
max,110.000000,0.0,202010.000000,16.610000,84.100000,12.510000,12.510000,10.030000,12.510000,788.000000,1647.000000,3.090000,3.090000,3.090000,3.090000,3.090000,3.090000,3.090000,68.800000,99.300000

In [9]:
noaa_data.to_csv('data/noaa_data_clean.csv', index = False)

## Jesse ---------------------------------------------------------

put all of your code between here and the next person's name only

## CM ---------------------------------------------------------

put all of your code between here and the next person's name only

In [2]:
import pandas as pd
import numpy as np

In [3]:
fire_df = pd.read_pickle('./data/fire_pickle.pkl')

In [4]:
fire_df.isnull().sum()

FIRE_CODE           300047
FIRE_NAME            64196
COMPLEX_NAME        514477
FIRE_YEAR                0
DISCOVERY_DATE           0
DISCOVERY_DOY            0
DISCOVERY_TIME      138738
STAT_CAUSE_CODE          0
STAT_CAUSE_DESCR         0
CONT_DATE           138864
CONT_DOY            138864
CONT_TIME           164573
FIRE_SIZE                0
FIRE_SIZE_CLASS          0
LATITUDE                 0
LONGITUDE                0
STATE                    0
COUNTY              285678
FIPS_CODE           285678
FIPS_NAME           285678
dtype: int64

In [6]:

fire_df['CONT_DATE'] = fire_df['CONT_DATE'].astype(float)

epoch = pd.to_datetime(0, unit='s').to_julian_date()
fire_df['CONT_DATE_FIXED'] = pd.to_datetime(fire_df['CONT_DATE'] - epoch, unit='D')
fire_df['DISC_DATE_FIXED'] = pd.to_datetime(fire_df['DISCOVERY_DATE'] - epoch, unit='D')

fire_df['TIME_BURNT_FIXED'] = fire_df['CONT_DATE_FIXED'] - fire_df['DISC_DATE_FIXED']

fire_df['TIME_BURNT'] = fire_df['CONT_DATE'] - fire_df['DISCOVERY_DATE']

In [5]:
fire_df['FIRE_NAME'].fillna('NO_NAME', inplace=True)
fire_df['COMPLEX_NAME'].fillna('NO_NAME', inplace=True)
fire_df['FIRE_CODE'].fillna('NA', inplace=True)
fire_df['FIPS_CODE'].fillna('0', inplace=True)
# fire_df['CONT_DATE'].fillna('0', inplace=True)

droplist = ['CONT_DOY','CONT_TIME', 'COUNTY', 'FIPS_NAME', 'DISCOVERY_DOY', 'DISCOVERY_TIME',
           'CONT_DATE', 'DISCOVERY_DATE']
fire_df.drop(droplist, axis = 1, inplace=True)

array(['063', '061', '017', '003', '005', '0', '027', '069', '037', '053',
       '089', '049', '009', '023', '043', '051', '039', '021', '025',
       '013', '031', '047', '510', '007', '057', '001', '011', '091',
       '081', '019', '015', '035', '006', '087', '065', '033', '029',
       '095', '075', '059', '055', '077', '093', '085', '045', '041',
       '079', '028', '115', '107', '067', '097', '105', '083', '071',
       '073', '109', '111', '099', '103', '012', '113', '101'],
      dtype=object)

In [7]:
fire_df.rename(columns = {col: col.strip().lower() for col in fire_df.columns}, inplace= True)

In [8]:
fire_df.to_pickle('./data/clean_fire_pickle.pkl')

In [10]:
fire_position = fire_df[['latitude', 'longitude']]
fire_position.to_csv('./data/fire_lat_lon.csv', index=False)

## Kira ---------------------------------------------------------

put all of your code between here and the next person's name only