# Cleaning

## Marta ---------------------------------------------------------

put all of your code between here and the next person's name only

In [2]:
import pandas as pd

In [24]:
noaa_data = pd.read_csv('data/noaa_data.csv')

In [27]:
noaa_data.rename(columns = {col: col.strip().lower() for col in noaa_data.columns}, inplace= True)

In [29]:
#noaa_data['yr_mth'] = noaa_data['YearMonth'].
noaa_data['month'] = noaa_data['yearmonth'].apply(lambda x: str(x)[-2:])
noaa_data['year'] = noaa_data['yearmonth'].apply(lambda x: str(x)[0:4])

In [30]:
noaa_data.head()

,unnamed: 0,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,...,sp06,sp09,sp12,sp24,tmin,tmax,unnamed: 20,state,month,year
0,0,2,0,189501,2.78,40.4,1.67,1.67,5.02,1.67,...,-99.99,-99.99,-99.99,-99.99,31.8,49.0,NaN,AZ,01,1895
1,1,2,0,189502,0.53,43.5,1.61,1.61,0.33,1.61,...,-99.99,-99.99,-99.99,-99.99,31.0,56.0,NaN,AZ,02,1895
2,2,2,0,189503,0.22,50.0,1.09,1.09,-1.05,0.48,...,-99.99,-99.99,-99.99,-99.99,35.4,64.7,NaN,AZ,03,1895
3,3,2,0,189504,0.08,58.3,1.09,1.09,0.33,0.59,...,-99.99,-99.99,-99.99,-99.99,42.6,73.9,NaN,AZ,04,1895
4,4,2,0,189505,0.36,65.8,1.89,1.89,2.72,1.89,...,-99.99,-99.99,-99.99,-99.99,50.9,80.6,NaN,AZ,05,1895

In [35]:
noaa_data = noaa_data[[col for col in noaa_data.columns if not 'unnamed' in col]] # removing meaningless columns

In [40]:
noaa_data = noaa_data[(noaa_data['yearmonth']!=202011) & 
                      (noaa_data['yearmonth']!=202012) &
                      (noaa_data['year']!=1995) &
                      (noaa_data['year']!=1995)] # removing two months with placeholder data

In [41]:
noaa_data.to_csv('data/noaa_data_clean.csv', index = False)

## Jesse ---------------------------------------------------------

put all of your code between here and the next person's name only

## CM ---------------------------------------------------------

put all of your code between here and the next person's name only

## Kira ---------------------------------------------------------

put all of your code between here and the next person's name only