# Cleaning

## Marta ---------------------------------------------------------

put all of your code between here and the next person's name only

In [48]:
import pandas as pd

In [49]:
noaa_data = pd.read_csv('data/noaa_data.csv')

In [50]:
noaa_data.rename(columns = {col: col.strip().lower() for col in noaa_data.columns}, inplace= True)

In [51]:
#noaa_data['yr_mth'] = noaa_data['YearMonth'].
noaa_data['month'] = noaa_data['yearmonth'].apply(lambda x: str(x)[-2:])
noaa_data['year'] = noaa_data['yearmonth'].apply(lambda x: str(x)[0:4])

In [52]:
noaa_data.head()

,unnamed: 0,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,...,sp06,sp09,sp12,sp24,tmin,tmax,unnamed: 20,state,month,year
0,0,2,0,189501,2.78,40.4,1.67,1.67,5.02,1.67,...,-99.99,-99.99,-99.99,-99.99,31.8,49.0,NaN,AZ,01,1895
1,1,2,0,189502,0.53,43.5,1.61,1.61,0.33,1.61,...,-99.99,-99.99,-99.99,-99.99,31.0,56.0,NaN,AZ,02,1895
2,2,2,0,189503,0.22,50.0,1.09,1.09,-1.05,0.48,...,-99.99,-99.99,-99.99,-99.99,35.4,64.7,NaN,AZ,03,1895
3,3,2,0,189504,0.08,58.3,1.09,1.09,0.33,0.59,...,-99.99,-99.99,-99.99,-99.99,42.6,73.9,NaN,AZ,04,1895
4,4,2,0,189505,0.36,65.8,1.89,1.89,2.72,1.89,...,-99.99,-99.99,-99.99,-99.99,50.9,80.6,NaN,AZ,05,1895

In [35]:
noaa_data = noaa_data[[col for col in noaa_data.columns if not 'unnamed' in col]] # removing meaningless columns

In [44]:
noaa_data = noaa_data[(noaa_data['yearmonth']!=202011) & 
                      (noaa_data['yearmonth']!=202012) &
                      (noaa_data['year']>'1900') &
                      (noaa_data['year']>'1900')] # removing two months with placeholder data

In [46]:
noaa_data.describe()

,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,cdd,hdd,sp01,sp02,sp03,sp06,sp09,sp12,sp24,tmin,tmax
count,4314.000000,4314.0,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000,4314.000000
mean,3.666667,0.0,196048.217663,1.458368,54.116875,-0.095199,0.001043,-0.005239,-0.019657,103.726936,356.219054,0.009509,0.007112,0.008125,0.010046,0.012524,0.014374,0.012425,40.593788,67.631433
std,1.247364,0.0,3459.660661,1.415186,15.279822,2.660944,2.800351,1.953196,2.652378,175.271156,358.690427,0.982808,0.990092,0.992436,0.995489,0.995738,0.995166,0.998943,14.379930,16.358553
min,2.000000,0.0,190101.000000,0.000000,12.800000,-9.090000,-9.090000,-5.910000,-9.090000,0.000000,0.000000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-2.780000,-0.800000,25.800000
25%,2.000000,0.0,193012.000000,0.510000,43.600000,-2.020000,-2.140000,-1.360000,-1.920000,0.000000,41.000000,-0.710000,-0.660000,-0.680000,-0.680000,-0.690000,-0.670000,-0.690000,31.500000,55.225000
50%,4.000000,0.0,196011.500000,1.120000,53.600000,-0.310000,-0.435000,-0.205000,-0.160000,12.500000,270.000000,0.010000,0.000000,0.010000,0.000000,0.020000,0.020000,0.010000,40.400000,67.400000
75%,5.000000,0.0,199011.000000,1.950000,66.600000,1.767500,2.110000,1.090000,1.810000,127.000000,536.000000,0.690000,0.690000,0.660000,0.700000,0.700000,0.710000,0.660000,51.800000,81.400000
max,5.000000,0.0,202010.000000,12.500000,84.100000,8.300000,8.300000,9.600000,8.300000,788.000000,1647.000000,3.090000,3.090000,3.090000,3.070000,3.090000,3.090000,3.090000,68.800000,99.300000

In [47]:
noaa_data.to_csv('data/noaa_data_clean.csv', index = False)

## Jesse ---------------------------------------------------------

put all of your code between here and the next person's name only

## CM ---------------------------------------------------------

put all of your code between here and the next person's name only

## Kira ---------------------------------------------------------

put all of your code between here and the next person's name only