# Cleaning

## Marta ---------------------------------------------------------

put all of your code between here and the next person's name only

In [1]:
import pandas as pd

In [2]:
noaa_data = pd.read_csv('data/noaa_data.csv')

In [3]:
noaa_data.rename(columns = {col: col.strip().lower() for col in noaa_data.columns}, inplace= True)

In [4]:
#noaa_data['yr_mth'] = noaa_data['YearMonth'].
noaa_data['month'] = noaa_data['yearmonth'].apply(lambda x: str(x)[-2:])
noaa_data['year'] = noaa_data['yearmonth'].apply(lambda x: str(x)[0:4])

In [5]:
noaa_data.head()

,unnamed: 0,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,...,sp06,sp09,sp12,sp24,tmin,tmax,unnamed: 20,state,month,year
0,0,2,0,189501,2.78,40.4,1.67,1.67,5.02,1.67,...,-99.99,-99.99,-99.99,-99.99,31.8,49.0,NaN,AZ,01,1895
1,1,2,0,189502,0.53,43.5,1.61,1.61,0.33,1.61,...,-99.99,-99.99,-99.99,-99.99,31.0,56.0,NaN,AZ,02,1895
2,2,2,0,189503,0.22,50.0,1.09,1.09,-1.05,0.48,...,-99.99,-99.99,-99.99,-99.99,35.4,64.7,NaN,AZ,03,1895
3,3,2,0,189504,0.08,58.3,1.09,1.09,0.33,0.59,...,-99.99,-99.99,-99.99,-99.99,42.6,73.9,NaN,AZ,04,1895
4,4,2,0,189505,0.36,65.8,1.89,1.89,2.72,1.89,...,-99.99,-99.99,-99.99,-99.99,50.9,80.6,NaN,AZ,05,1895

In [6]:
noaa_data = noaa_data[[col for col in noaa_data.columns if not 'unnamed' in col]] # removing meaningless columns

In [7]:
noaa_data = noaa_data[(noaa_data['yearmonth']!=202011) & 
                      (noaa_data['yearmonth']!=202012) &
                      (noaa_data['year']>'1900') &
                      (noaa_data['year']>'1900')] # removing two months with placeholder data

In [8]:
noaa_data.describe()

,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,cdd,hdd,sp01,sp02,sp03,sp06,sp09,sp12,sp24,tmin,tmax
count,15773.000000,15773.0,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000,15773.000000
mean,29.011983,0.0,196031.220250,1.798108,49.823100,-0.042626,-0.007612,-0.009817,-0.009464,71.745261,442.854688,0.004815,0.002406,0.002114,0.001143,0.000399,-0.000359,-0.005024,37.003638,62.635346
std,28.923192,0.0,3449.611004,1.573904,15.389533,2.594346,2.720131,1.912373,2.578275,132.719848,374.858651,0.988321,0.994421,0.997021,0.997939,0.999281,1.000042,1.004099,13.798940,17.259781
min,2.000000,0.0,190101.000000,0.000000,-3.900000,-9.090000,-9.090000,-7.140000,-9.090000,0.000000,0.000000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-3.090000,-15.100000,6.700000
25%,5.000000,0.0,193011.000000,0.690000,37.600000,-1.870000,-2.060000,-1.350000,-1.810000,0.000000,91.000000,-0.690000,-0.670000,-0.680000,-0.680000,-0.670000,-0.660000,-0.670000,26.600000,49.000000
50%,26.000000,0.0,196009.000000,1.430000,49.700000,-0.210000,-0.440000,-0.170000,-0.060000,5.000000,379.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.800000,62.900000
75%,35.000000,0.0,199008.000000,2.450000,62.900000,1.720000,2.000000,1.130000,1.730000,78.000000,715.000000,0.680000,0.680000,0.660000,0.680000,0.670000,0.680000,0.650000,48.100000,77.600000
max,110.000000,0.0,202010.000000,16.610000,84.100000,12.510000,12.510000,10.030000,12.510000,788.000000,2040.000000,3.090000,3.090000,3.090000,3.090000,3.090000,3.090000,3.090000,68.800000,99.300000

In [9]:
noaa_data.to_csv('data/noaa_data_clean.csv', index = False)

## Jesse ---------------------------------------------------------

put all of your code between here and the next person's name only

## CM ---------------------------------------------------------

put all of your code between here and the next person's name only

In [10]:
import pandas as pd
import numpy as np

In [11]:
fire_df = pd.read_pickle('./data/fire_pickle.pkl')

In [12]:
fire_df[fire_df['STATE']=='CO']

,FIRE_CODE,FIRE_NAME,COMPLEX_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME
47,BEX1,HATCH,None,2005,2453535.5,165,1300,1.0,Lightning,2453535.5,165.0,1530,0.5,B,39.292222,-105.183056,CO,None,None,None
61,BEX1,TROUT CREEK II,None,2005,2453520.5,150,1100,1.0,Lightning,2453521.5,151.0,1218,0.2,A,38.913333,-105.983611,CO,None,None,None
62,BU9J,MT ELBERT,None,2005,2453542.5,172,1241,4.0,Campfire,2453542.5,172.0,1506,0.1,A,39.100278,-106.367500,CO,None,None,None
114,BEX1,8GN,None,2005,2453558.5,188,1907,1.0,Lightning,2453558.5,188.0,2130,80.0,C,37.345000,-102.805833,CO,None,None,None
205,BT83,BEAVER,None,2005,2453534.5,164,1428,9.0,Miscellaneous,2453534.5,164.0,1736,2.5,B,38.891111,-105.431944,CO,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860039,None,RANGE 135,None,2015,2457282.5,260,1519,13.0,Missing/Undefined,NaN,NaN,None,500.0,E,38.609900,-104.807800,CO,El Paso County,041,El Paso
1860043,None,CR 162,None,2015,2457280.5,258,1600,13.0,Missing/Undefined,NaN,NaN,None,610.0,E,39.421667,-103.878333,CO,Elbert County,039,Elbert
1860044,None,HIGHWAY 160 MM 291,None,2015,2457310.5,288,1121,13.0,Missing/Undefined,NaN,NaN,None,270.0,D,37.545900,-105.007100,CO,Huerfano County,055,Huerfano
1860048,J3Q2,GUTTERSEN RANCH,None,2015,2457283.5,261,1305,13.0,Missing/Undefined,NaN,NaN,None,11699.0,G,40.394700,-104.564600,CO,Weld County,123,Weld
1860054,None,RAWHIDE,None,2015,2457306.5,284,1312,13.0,Missing/Undefined,NaN,NaN,None,120.0,D,40.819800,-105.084700,CO,Larimer County,069,Larimer

In [13]:
fire_df.isnull().sum()

FIRE_CODE           321859
FIRE_NAME            74801
COMPLEX_NAME        562633
FIRE_YEAR                0
DISCOVERY_DATE           0
DISCOVERY_DOY            0
DISCOVERY_TIME      145026
STAT_CAUSE_CODE          0
STAT_CAUSE_DESCR         0
CONT_DATE           146456
CONT_DOY            146456
CONT_TIME           173010
FIRE_SIZE                0
FIRE_SIZE_CLASS          0
LATITUDE                 0
LONGITUDE                0
STATE                    0
COUNTY              306955
FIPS_CODE           306955
FIPS_NAME           306955
dtype: int64

In [14]:

fire_df['CONT_DATE'] = fire_df['CONT_DATE'].astype(float)

epoch = pd.to_datetime(0, unit='s').to_julian_date()
fire_df['CONT_DATE_FIXED'] = pd.to_datetime(fire_df['CONT_DATE'] - epoch, unit='D')
fire_df['DISC_DATE_FIXED'] = pd.to_datetime(fire_df['DISCOVERY_DATE'] - epoch, unit='D')

fire_df['TIME_BURNT_FIXED'] = fire_df['CONT_DATE_FIXED'] - fire_df['DISC_DATE_FIXED']

fire_df['TIME_BURNT'] = fire_df['CONT_DATE'] - fire_df['DISCOVERY_DATE']

In [15]:
fire_df['FIRE_NAME'].fillna('NO_NAME', inplace=True)
fire_df['COMPLEX_NAME'].fillna('NO_NAME', inplace=True)
fire_df['FIRE_CODE'].fillna('NA', inplace=True)
fire_df['FIPS_CODE'].fillna('0', inplace=True)
# fire_df['CONT_DATE'].fillna('0', inplace=True)

droplist = ['CONT_DOY','CONT_TIME', 'COUNTY', 'FIPS_NAME', 'DISCOVERY_DOY', 'DISCOVERY_TIME',
           'CONT_DATE', 'DISCOVERY_DATE']
fire_df.drop(droplist, axis = 1, inplace=True)

In [16]:
fire_df.rename(columns = {col: col.strip().lower() for col in fire_df.columns}, inplace= True)

In [17]:
fire_df.to_pickle('./data/clean_fire_pickle.pkl')

In [18]:
fire_position = fire_df[['latitude', 'longitude']]
fire_position.to_csv('./data/fire_lat_lon.csv', index=False)

In [19]:
fire_df[fire_df['state']=='CO']

,fire_code,fire_name,complex_name,fire_year,stat_cause_code,stat_cause_descr,fire_size,fire_size_class,latitude,longitude,state,fips_code,cont_date_fixed,disc_date_fixed,time_burnt_fixed,time_burnt
47,BEX1,HATCH,NO_NAME,2005,1.0,Lightning,0.5,B,39.292222,-105.183056,CO,0,2005-06-14,2005-06-14,0 days,0.0
61,BEX1,TROUT CREEK II,NO_NAME,2005,1.0,Lightning,0.2,A,38.913333,-105.983611,CO,0,2005-05-31,2005-05-30,1 days,1.0
62,BU9J,MT ELBERT,NO_NAME,2005,4.0,Campfire,0.1,A,39.100278,-106.367500,CO,0,2005-06-21,2005-06-21,0 days,0.0
114,BEX1,8GN,NO_NAME,2005,1.0,Lightning,80.0,C,37.345000,-102.805833,CO,0,2005-07-07,2005-07-07,0 days,0.0
205,BT83,BEAVER,NO_NAME,2005,9.0,Miscellaneous,2.5,B,38.891111,-105.431944,CO,0,2005-06-13,2005-06-13,0 days,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860039,NA,RANGE 135,NO_NAME,2015,13.0,Missing/Undefined,500.0,E,38.609900,-104.807800,CO,041,NaT,2015-09-17,NaT,NaN
1860043,NA,CR 162,NO_NAME,2015,13.0,Missing/Undefined,610.0,E,39.421667,-103.878333,CO,039,NaT,2015-09-15,NaT,NaN
1860044,NA,HIGHWAY 160 MM 291,NO_NAME,2015,13.0,Missing/Undefined,270.0,D,37.545900,-105.007100,CO,055,NaT,2015-10-15,NaT,NaN
1860048,J3Q2,GUTTERSEN RANCH,NO_NAME,2015,13.0,Missing/Undefined,11699.0,G,40.394700,-104.564600,CO,123,NaT,2015-09-18,NaT,NaN
1860054,NA,RAWHIDE,NO_NAME,2015,13.0,Missing/Undefined,120.0,D,40.819800,-105.084700,CO,069,NaT,2015-10-11,NaT,NaN

In [20]:
fire_df['stat_cause_descr'].unique

<bound method Series.unique of 0              Miscellaneous
1                  Lightning
2             Debris Burning
3                  Lightning
4                  Lightning
                 ...
1880460    Missing/Undefined
1880461        Miscellaneous
1880462    Missing/Undefined
1880463    Missing/Undefined
1880464        Miscellaneous
Name: stat_cause_descr, Length: 566684, dtype: object>

## Kira ---------------------------------------------------------

put all of your code between here and the next person's name only

In [30]:
noaa_clean = pd.read_csv('data/noaa_data_clean.csv')
noaa_clean.head()

,statecode,division,yearmonth,pcp,tavg,pdsi,phdi,zndx,pmdi,cdd,...,sp03,sp06,sp09,sp12,sp24,tmin,tmax,state,month,year
0,2,0,190101,1.21,41.5,-3.55,-3.55,-0.19,-3.55,0,...,-0.15,-0.75,-1.45,-1.20,-2.48,29.3,53.8,AZ,1,1901
1,2,0,190102,2.36,45.3,-2.42,-2.42,2.31,-1.44,5,...,0.28,0.33,-0.62,-0.26,-1.67,34.5,56.1,AZ,2,1901
2,2,0,190103,0.53,48.8,-2.42,-2.42,-0.76,-1.71,14,...,0.60,0.17,-0.65,-0.29,-1.48,34.6,63.0,AZ,3,1901
3,2,0,190104,0.14,54.8,-2.40,-2.40,-0.68,-1.91,51,...,0.42,0.09,-0.36,-0.88,-1.51,39.8,69.8,AZ,4,1901
4,2,0,190105,0.45,65.6,-2.20,-2.20,-0.15,-1.72,200,...,-0.66,-0.08,0.05,-0.77,-1.40,50.5,80.6,AZ,5,1901

In [31]:
noaa_clean.columns

Index(['statecode', 'division', 'yearmonth', 'pcp', 'tavg', 'pdsi', 'phdi',
       'zndx', 'pmdi', 'cdd', 'hdd', 'sp01', 'sp02', 'sp03', 'sp06', 'sp09',
       'sp12', 'sp24', 'tmin', 'tmax', 'state', 'month', 'year'],
      dtype='object')

In [32]:
noaa_clean.shape

(15773, 23)

In [33]:
noaa_clean['state'].unique()

array(['AZ', 'CA', 'CO', 'ID', 'MT', 'NM', 'NV', 'OR', 'UT', 'WA', 'WY'],
      dtype=object)

In [34]:
fire_df = pd.read_pickle('data/clean_fire_pickle.pkl')
fire_df.columns

Index(['fire_code', 'fire_name', 'complex_name', 'fire_year',
       'stat_cause_code', 'stat_cause_descr', 'fire_size', 'fire_size_class',
       'latitude', 'longitude', 'state', 'fips_code', 'cont_date_fixed',
       'disc_date_fixed', 'time_burnt_fixed', 'time_burnt'],
      dtype='object')

In [35]:
noaa_grouped = noaa_clean.groupby(by=['state', 'year', 'month']).mean()

In [36]:
#fire_df['disc_date_fixed'] = fire_df['month'] & fire_df['year']

KeyError: 'month'

In [28]:
fire_df['month'] = pd.DatetimeIndex(fire_df['disc_date_fixed']).month
fire_df['year'] = pd.DatetimeIndex(fire_df['disc_date_fixed']).year

KeyError: 'month'

In [27]:
fire_grouped = fire_df.groupby(by=['state', 'year', 'month'])

KeyError: 'month'

In [ ]:
mfi_df = pd.merge(fire_grouped, noaa_grouped, how ='left', left_on = ['state', 'year', 'month'], right_on = ['state', 'year', 'month'])

In [ ]:
mfi_df = mfi_df.set_index('state')
mfi_df = mfi_df.sort_values(by=['state']).round(2)

In [ ]:
mfi_df = mfi_df.drop(columns=['latitude', 'longitude', 'complex_name', 'sp01'])
mfi_df = mfi_df.round(2)
mfi_df

# github's file upload limit is 100MB, this file is at 97,672kb (about 97MB)
# mfi_df.to_csv('data/mfi_df_clean.csv') commented out so it doesn't run every time

In [ ]:
# Clean Noaa data to only include 1987 - 2015
noaa_clean_yr = noaa_clean[(noaa_clean['year'] > 1986) & (noaa_clean['year'] < 2016)] 
noaa_clean_yr

# Create merged data frame with noaa_data years restricted to match fire_df (Plus 5 years)
mfi_df_yr = pd.merge(fire_df, noaa_clean_yr, how ='left', left_on = ['state', 'year', 'month'], right_on = ['state', 'year', 'month'])
mfi_df_yr = mfi_df_yr.drop(columns=['latitude', 'longitude', 'complex_name', 'sp01', 'fips_code', 'fire_name', 'fire_code', 'stat_cause_code'])

In [ ]:
mfi_df_yr.columns

In [ ]:
mfi_df_yr[(mfi_df_yr['year'] == 2015) & (mfi_df_yr['month'] == 8) & (mfi_df_yr['state'] == 'CA')].head()

In [ ]:
# github's file upload limit is 100MB, this file is at 89580kb (about 97MB)
mfi_df_yr.to_csv('data/mfi_df_yr.csv') #commented out so it doesn't run every time