In [1]:
import pandas as pd

In [2]:
noaa_data = pd.DataFrame()
states = ['AZ', 'CA', 'CO', 'ID', 'MT','NM', 'NV','OR', 'UT', 'WA', 'WY'] # update to list all states / text files in folder
for state in states:
    df = pd.read_csv(state+'.txt')
    df['state']=state
    noaa_data = pd.concat([noaa_data,df], axis = 0)

In [3]:
noaa_data['state'].value_counts()

CO    1512
AZ    1512
UT    1512
CA    1512
WY    1512
WA    1512
OR    1501
ID    1501
MT    1501
NM    1501
NV    1501
Name: state, dtype: int64

In [4]:
noaa_data.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,...,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX,Unnamed: 20,state
0,2,0,189501,2.78,40.4,1.67,1.67,5.02,1.67,0,...,-99.99,-99.99,-99.99,-99.99,-99.99,-99.99,31.8,49.0,NaN,AZ
1,2,0,189502,0.53,43.5,1.61,1.61,0.33,1.61,7,...,0.84,-99.99,-99.99,-99.99,-99.99,-99.99,31.0,56.0,NaN,AZ
2,2,0,189503,0.22,50.0,1.09,1.09,-1.05,0.48,24,...,-1.20,0.31,-99.99,-99.99,-99.99,-99.99,35.4,64.7,NaN,AZ
3,2,0,189504,0.08,58.3,1.09,1.09,0.33,0.59,99,...,-1.82,-1.61,-99.99,-99.99,-99.99,-99.99,42.6,73.9,NaN,AZ
4,2,0,189505,0.36,65.8,1.89,1.89,2.72,1.89,249,...,-0.66,-1.47,-99.99,-99.99,-99.99,-99.99,50.9,80.6,NaN,AZ

In [5]:
noaa_data.shape

(16577, 22)

In [6]:
noaa_data.to_csv('noaa_data.csv')