In [ ]:
import numpy as np
import sqlite3
import pandas as pd

# Create the connection
cnx = sqlite3.connect(r'C:/Users/cmrjk/dsi/projects/project_5/data/keggle_fire_data.sqlite')

# create the dataframe from a query
df = pd.read_sql_query("SELECT * FROM fires", cnx)

In [ ]:
df.head().T

In [ ]:
df.columns

In [ ]:
droplist = ['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME','LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID','ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 
            'MTBS_ID', 'MTBS_FIRE_NAME','OWNER_CODE', 'OWNER_DESCR', 'Shape']

In [ ]:
df.drop(droplist,axis = 1,  inplace=True)

In [ ]:
df.head()

In [ ]:
df[df['STATE']=="CO"]

In [ ]:
states_of_interest = ['CA','WA','OR','NV','AZ','NM','UT', 'CO', 'WY', 'ID', 'MT']

In [ ]:
df_soi = df[df['STATE'].isin(states_of_interest)]

In [ ]:
df_soi['STATE'].unique()

In [ ]:
# fire1 = df.iloc[0:172787, :]
# fire2 = df.iloc[172787+1:(172787*2), :]
# fire3 = df.iloc[(172787*2)+1:, :]

# fire1.to_csv('./data/fire_1.csv')
# fire2.to_csv('./data/fire_2.csv')
# fire3.to_csv('./data/fire_3.csv')

In [ ]:
df_soi[df_soi['STATE']=="CO"]

In [ ]:
df_soi.to_pickle('./data/fire_pickle.pkl')